<%- include ("partials/header") %>

<div id="landing-header">
	<h1>Welcome To Vacation Home!</h1>
	<p>This Is The World Vacation Home</p>
	<a href="/vacationhomes">Here You Can View All Our Vacation Homes</a>
</div>

<%- include ("partials/footer") %>