<%- include ("partials/header") %>

<h1>This the Home Page!</h1>
<p>Welcome To Our Vacation Home</p>
<a href="/vacationhomes">Here You Can View All Our Vacation Homes</a>

<%- include ("partials/footer") %>