<%- include ("partials/header") %>
<div id="landing-header">
	<h1>This Is The Home Page!</h1>
	<p>Welcome To Our Vacation Home</p>
	<a href="/vacationhomes">Here You Can View All Our Vacation Homes</a>
</div>

<%- include ("partials/footer") %>