body {
	background-color: #edddfc;
	font-family: 'Lato';
	color: purple;
}

#landing-header {
	z-index: 1;
	position: relative;
	text-align: center;
	padding-top: 40vh;
}

.jumbotron {
	font-weight: 700;
	font-size: 5em;
	text-align: center;
}

.thumbnail img {
	width: 50%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

#delete-form {
	display: inline;
}

/* Google Maps */
#map {
	height: 400px;
	width: 100%;
}